name: Merge EPG

on:
  schedule:
    - cron: "0 */6 * * *"   # 每 6 小时更新一次
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y xmlstarlet curl

      - name: Download All EPG Sources
        run: |
          mkdir epg_sources
          cd epg_sources

          curl -L -o 1.xml "https://raw.githubusercontent.com/AqFad2811/epg/main/epg.xml"
          curl -L -o 2.xml "https://raw.githubusercontent.com/AqFad2811/epg/main/unifitv.xml"
          curl -L -o 3.xml "https://raw.githubusercontent.com/AqFad2811/epg/main/astro.xml"
          curl -L -o 4.xml "https://raw.githubusercontent.com/azimabid00/epg/main/unifi_epg.xml"
          curl -L -o 5.xml "https://i.mjh.nz/PlutoTV/all.xml"
          curl -L -o 6.xml "https://i.mjh.nz/SamsungTVPlus/us.xml"
          curl -L -o 7.xml "https://i.mjh.nz/SamsungTVPlus/kr.xml"
          curl -L -o 8.xml "https://epg.pw/xmltv/epg_MY.xml"
          curl -L -o 9.xml "https://raw.githubusercontent.com/azimabid00/epg/main/astro_epg.xml"
          curl -L -o 10.xml "https://raw.githubusercontent.com/AqFad2811/epg/main/indonesia.xml"

      - name: Merge All EPG Files
        run: |
          echo '<?xml version="1.0" encoding="UTF-8"?>' > epg.xml
          echo '<tv>' >> epg.xml

          for f in epg_sources/*.xml; do
            xmlstarlet sel -t -c "//programme" "$f" >> epg.xml
            xmlstarlet sel -t -c "//channel" "$f" >> epg.xml
          done

          echo '</tv>' >> epg.xml

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add epg.xml
          git commit -m "Updated merged EPG" || echo "No changes"
          git push
